
@font-face {
  font-family: TTSmalls-Bold;
  src: url('../fonts/TTSmalls-Bold.ttf');
}

@font-face {
  font-family: TTSmalls-Light;
  src: url('../fonts/TTSmalls-Light.ttf');
}
@font-face {
  font-family: TTSmalls-Medium;
  src: url('../fonts/TTSmalls-Medium.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url("/Rectangle.png"), url('/img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

body.no-scroll {
  height: 100vh;
  overflow: hidden;
  
}

.active {
  color: #fff;
  cursor: default;
}



a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  display: block;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

li {
  margin: 0;
  padding: 0;

}
svg {
  max-width: 100%;
  height: 100%;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
